## Create Jupyter Notebook for the `Series` Module

In [1]:
import pandas as pd
pd.__version__

'1.4.2'

## Create a Series Object from a Python List

In [2]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]

pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [3]:
lottery = [4, 8, 15, 16, 23, 42]

pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
registrations = [True, False, False, False, True]

pd.Series(registrations)

0     True
1    False
2    False
3    False
4     True
dtype: bool

## Create a Series Object from a Dictionary

In [5]:
sushi = {
    "Salmon": "Orange",
    "Tuna": "Red",
    "Eel": "Brown"
}

pd.Series(sushi)

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

## Intro to Methods

In [6]:
"hello".upper()

'HELLO'

In [7]:
values = [1, 2, 3]
values.append(4)
values

[1, 2, 3, 4]

In [8]:
prices = pd.Series([2.99, 4.45, 1.36])
prices

0    2.99
1    4.45
2    1.36
dtype: float64

In [9]:
prices.sum()

8.8

In [10]:
prices.product()

18.095480000000006

In [11]:
prices.mean()

2.9333333333333336

## Intro to Attributes

In [12]:
adjectives = pd.Series(["Smart", "Handsome", "Charming", "Brilliant", "Humble", "Smart"])
adjectives

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
5        Smart
dtype: object

In [13]:
adjectives.size

6

In [14]:
adjectives.is_unique

False

In [15]:
adjectives.values

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble', 'Smart'],
      dtype=object)

In [16]:
type(adjectives.values)

numpy.ndarray

In [17]:
adjectives.index

RangeIndex(start=0, stop=6, step=1)

In [18]:
type(adjectives.index)

pandas.core.indexes.range.RangeIndex

In [19]:
adjectives.dtype

dtype('O')

## Parameters and Arguments

In [20]:
# Parameter - The name we give to an expected input
# Argument - The concrete value that we provide to a parameter

# Difficulty - Easy, Medium, Hard
# Volume - 1 through 10
# Subtitles - True, False

In [21]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry", "Watermelon"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Monday"]

pd.Series(fruits, weekdays)
pd.Series(weekdays, fruits)

pd.Series(data = fruits, index = weekdays)
pd.Series(index = weekdays, data = fruits)

pd.Series(fruits, index = weekdays)

Monday            Apple
Tuesday          Orange
Wednesday          Plum
Thursday          Grape
Friday        Blueberry
Monday       Watermelon
dtype: object

## Import Series with the pd.read_csv Function

In [22]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"]).squeeze("columns")
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [23]:
google = pd.read_csv("google_stock_price.csv", usecols = ["Stock Price"]).squeeze("columns")
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

## The head and tail Methods on a Series

In [24]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"]).squeeze("columns")
google = pd.read_csv("google_stock_price.csv", usecols = ["Stock Price"]).squeeze("columns")

In [25]:
pokemon.head()
pokemon.head(5)
pokemon.head(n = 5)

pokemon.head(8)
pokemon.head(1)

0    Bulbasaur
Name: Pokemon, dtype: object

In [26]:
google.tail()
google.tail(5)
google.tail(n = 5)

google.tail(9)
google.tail(4)
google.tail(1)

3011    782.22
Name: Stock Price, dtype: float64

## Passing Series to Python's Built-In Functions

In [27]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"]).squeeze("columns")
google = pd.read_csv("google_stock_price.csv", usecols = ["Stock Price"]).squeeze("columns")

In [28]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [29]:
len(pokemon)
type(pokemon)
dir(pokemon)
sorted(pokemon)
type(sorted(pokemon))
sorted(google)
list(pokemon)
dict(pokemon)
max(pokemon)
min(pokemon)

'Abomasnow'

In [30]:
max(google)
min(google)

49.95

## The sort_values Method

In [31]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"]).squeeze("columns")
google = pd.read_csv("google_stock_price.csv", usecols = ["Stock Price"]).squeeze("columns")

In [32]:
pokemon.sort_values().head()
pokemon.sort_values(ascending = True)
pokemon.sort_values(ascending = False).head()

717     Zygarde
633    Zweilous
40        Zubat
569       Zorua
570     Zoroark
Name: Pokemon, dtype: object

In [33]:
google.sort_values()
google.sort_values(ascending = True)
google.sort_values(ascending = False)

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
         ...
12       50.74
10       50.70
0        50.12
9        50.07
11       49.95
Name: Stock Price, Length: 3012, dtype: float64

## The sort_index Method

In [34]:
pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon").squeeze("columns")
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [35]:
pokemon.sort_index()
pokemon.sort_index(ascending = True)

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Accelgor         Bug
Aegislash      Steel
              ...
Zoroark         Dark
Zorua           Dark
Zubat         Poison
Zweilous        Dark
Zygarde       Dragon
Name: Type, Length: 721, dtype: object

In [36]:
pokemon.sort_index(ascending = False)

Pokemon
Zygarde       Dragon
Zweilous        Dark
Zubat         Poison
Zorua           Dark
Zoroark         Dark
              ...
Aegislash      Steel
Accelgor         Bug
Absol           Dark
Abra         Psychic
Abomasnow      Grass
Name: Type, Length: 721, dtype: object

## Check for Inclusion with Python's in Keyword

In [37]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"]).squeeze("columns")
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [38]:
"car" in "racecar"

True

In [39]:
2 in [1, 2, 3]

True

In [40]:
"Bulbasaur" in pokemon

False

In [41]:
100 in pokemon
100 in pokemon.index

True

In [42]:
"Bulbasaur" in pokemon.values
"Pikachu" in pokemon.values
"Nonsense" in pokemon.values

False

## Extract Series Value by Index Position

In [43]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"]).squeeze("columns")
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [44]:
numbers = [1, 2, 3]
numbers[1]

numbers[-1]

3

In [45]:
pokemon[0]
pokemon[500]

# pokemon[1500]

pokemon[[100, 200, 300]]

pokemon[27:36]
pokemon[0:7]
pokemon[:7]
pokemon[700:]

# pokemon[-1]

pokemon[-20:-10]
pokemon[-20:]

701      Dedenne
702      Carbink
703        Goomy
704      Sliggoo
705       Goodra
706       Klefki
707     Phantump
708    Trevenant
709    Pumpkaboo
710    Gourgeist
711     Bergmite
712      Avalugg
713       Noibat
714      Noivern
715      Xerneas
716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

## Extract Series Value by Index Label

In [46]:
pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon").squeeze("columns")
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [47]:
pokemon[0]
pokemon[[100, 134]]

Pokemon
Electrode    Electric
Jolteon      Electric
Name: Type, dtype: object

In [48]:
pokemon["Bulbasaur"]
pokemon["Mewtwo"]

pokemon[["Charizard", "Jolteon", "Meowth"]]

# pokemon["Digimon"]

# pokemon[["Pikachu", "Digimon"]]

Pokemon
Charizard        Fire
Jolteon      Electric
Meowth         Normal
Name: Type, dtype: object

## The get Method on a Series

In [49]:
pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon").squeeze("columns")
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [50]:
pokemon.get(0)
pokemon.get("Bulbasaur")
pokemon.get([5, 10])
pokemon.get(["Moltres", "Meowth"])

# pokemon["Digimon"]
pokemon.get("Digimon")
# print(pokemon.get("Digimon"))

pokemon.get("Digimon", "Nonexistent")
pokemon.get("Moltres", "Nonexistent")

pokemon.get(["Moltres", "Digimon"], "Nonexistent")
pokemon.get([0, 500, 10000], "Nonexistent")

'Nonexistent'

## Overwrite a Series Value

In [51]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"]).squeeze("columns")
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [52]:
pokemon[0] = "Borisaur"

In [53]:
pokemon.head()

0      Borisaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [54]:
pokemon[1500] = "Hello"

In [55]:
pokemon

0         Borisaur
1          Ivysaur
2         Venusaur
3       Charmander
4       Charmeleon
           ...
717        Zygarde
718        Diancie
719          Hoopa
720      Volcanion
1500         Hello
Name: Pokemon, Length: 722, dtype: object

In [56]:
pokemon[[1, 2, 4]] = ["Firemon", "Flamemon", "Blazemon"]

In [57]:
pokemon.head()

0      Borisaur
1       Firemon
2      Flamemon
3    Charmander
4      Blazemon
Name: Pokemon, dtype: object

In [58]:
pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon").squeeze("columns")
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [59]:
pokemon["Bulbasaur"] = "Awesomemon"

In [60]:
pokemon[1] = "Grassmon"

In [61]:
pokemon.head()

Pokemon
Bulbasaur     Awesomemon
Ivysaur         Grassmon
Venusaur           Grass
Charmander          Fire
Charmeleon          Fire
Name: Type, dtype: object

## The copy Method

In [62]:
pokemon_df = pd.read_csv("pokemon.csv", usecols = ["Pokemon"])
pokemon_series = pokemon_df.squeeze("columns")

In [63]:
pokemon_series[0] = "Whatever"

In [64]:
pokemon_series.head(1)

0    Whatever
Name: Pokemon, dtype: object

In [65]:
pokemon_df

        Pokemon
0      Whatever
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [66]:
#  Big House (DataFrame)
#   Door (Series)                 Door (Series)
#    ^

In [67]:
pokemon_df = pd.read_csv("pokemon.csv", usecols = ["Pokemon"])
pokemon_series = pokemon_df.squeeze("columns").copy()

In [68]:
pokemon_series[0] = "Whatever"

In [69]:
pokemon_series.head(1)

0    Whatever
Name: Pokemon, dtype: object

In [70]:
pokemon_df

        Pokemon
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

## The inplace Parameter

In [71]:
google = (
    pd.read_csv("google_stock_price.csv", usecols = ["Stock Price"])
    .squeeze("columns")
    .copy()
)

google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [72]:
google = google.sort_values()
google.head()

11    49.95
9     50.07
0     50.12
10    50.70
12    50.74
Name: Stock Price, dtype: float64

In [73]:
google.sort_values(inplace = True)

In [74]:
google.sort_index(inplace = True)

In [75]:
google = (
    pd.read_csv("google_stock_price.csv", usecols = ["Stock Price"])
    .squeeze("columns")
)

google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [76]:
google2 = google.copy()
google2.sort_values(inplace = True)

In [77]:
google2

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

## Math Methods on Series Objects

In [78]:
google = pd.read_csv("google_stock_price.csv", usecols = ["Stock Price"]).squeeze("columns")
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [79]:
google.count()
google.sum()
google.mean()
google.product()
google.std()
google.min()
google.max()
google.median()
google.mode()
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

## Broadcasting

In [80]:
google = pd.read_csv("google_stock_price.csv", usecols = ["Stock Price"]).squeeze("columns")
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [81]:
google + 10
google - 30
google * 2

google.add(10)

0        60.12
1        64.10
2        64.65
3        62.38
4        62.95
         ...
3007    782.88
3008    781.07
3009    783.18
3010    781.61
3011    792.22
Name: Stock Price, Length: 3012, dtype: float64

## The value_counts Method

In [82]:
pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon").squeeze("columns")
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [83]:
pokemon.value_counts()
pokemon.value_counts(ascending = True).head()

pokemon.value_counts(sort = False)

pokemon.value_counts(normalize = True) * 100

Water       14.563107
Normal      12.898752
Grass        9.153953
Bug          8.737864
Fire         6.518724
Psychic      6.518724
Rock         5.686546
Electric     4.993065
Ground       4.160888
Poison       3.883495
Dark         3.883495
Fighting     3.467406
Dragon       3.328710
Ghost        3.190014
Ice          3.190014
Steel        3.051318
Fairy        2.357836
Flying       0.416089
Name: Type, dtype: float64

## The apply Method

In [84]:
pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon").squeeze("columns")
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [85]:
len("Grass")

5

In [86]:
pokemon.apply(len)

Pokemon
Bulbasaur     5
Ivysaur       5
Venusaur      5
Charmander    4
Charmeleon    4
             ..
Yveltal       4
Zygarde       6
Diancie       4
Hoopa         7
Volcanion     4
Name: Type, Length: 721, dtype: int64

In [87]:
def rank_pokemon(pokemon_type):
    if pokemon_type in ["Grass", "Fire", "Water"]:
        return "Classic"
    elif pokemon_type == "Normal":
        return "Boring"
    else:
        return "TBD"

In [88]:
pokemon.apply(rank_pokemon)

Pokemon
Bulbasaur     Classic
Ivysaur       Classic
Venusaur      Classic
Charmander    Classic
Charmeleon    Classic
               ...
Yveltal           TBD
Zygarde           TBD
Diancie           TBD
Hoopa             TBD
Volcanion     Classic
Name: Type, Length: 721, dtype: object

## The map Method

In [89]:
pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon").squeeze("columns")
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [90]:
mappings = {
    "Grass": "Classic",
    "Fire": "Classic",
    "Water": "Classic",
    "Normal": "Boring"
}

mappings_series = pd.Series(mappings)
mappings_series

Grass     Classic
Fire      Classic
Water     Classic
Normal     Boring
dtype: object

In [91]:
pokemon.map(mappings_series)

Pokemon
Bulbasaur     Classic
Ivysaur       Classic
Venusaur      Classic
Charmander    Classic
Charmeleon    Classic
               ...
Yveltal           NaN
Zygarde           NaN
Diancie           NaN
Hoopa             NaN
Volcanion     Classic
Name: Type, Length: 721, dtype: object