http://pandas.pydata.org/pandas-docs/stable/options.html

## Introduction to This Module
- We'll need `numpy` to generate fake data sets
- Two ways to change settings; dot syntax and with methods
- pandas includes an options system to customize display behavior.
- The library's options can be set as attributes using dot syntax.

In [1]:
import pandas as pd
import numpy as np
pd.__version__

'1.4.2'

## Changing `pandas` Options with Dot Syntax
- Most library options are housed under `pd.options.display`
- The `max_rows` option sets the amount of total rows to display.
- Half of the rows will be taken from the top of the `DataFrame`, half from the bottom.
- The ellipses row will not be counted if an even number is specified
- The ellipses row WILL BE counted if odd number is specified

In [5]:
data = np.random.randint(0, 100, [1000, 50])
#columns = list("abcdefghijklmnopqrstuvwxyz")
df = pd.DataFrame(data)
df.tail(2)

# With no assignment operator (=), dot syntax will return the current setting of the option
pd.options.display.max_rows

# Note that the ellipses row will be counted as one row
pd.options.display.max_rows = 8

pd.options.display.max_columns
pd.options.display.max_columns = 7

In [6]:
df

     0   1   2  ...  47  48  49
0     7  81  54 ...  75  75  22
1    99  71  11 ...  38  14  18
2    83  50  24 ...   2  93  83
3    91  41  25 ...  57  27  47
..   ..  ..  .. ...  ..  ..  ..
996  25  73  50 ...   4  63  34
997   2   8  89 ...  45  39  98
998  30  41  97 ...  17   5  18
999  72  12  72 ...  12  15  92

[1000 rows x 50 columns]

## Changing `pandas` Options with Methods
- The main `pandas` namespace includes `get_option()` and `set_option()` settings to retrieve options.

In [2]:
data = np.random.randint(0, 100, [1000, 26])
columns = list("abcdefghijklmnopqrstuvwxyz")
df = pd.DataFrame(data = data, columns = columns)
df.tail(2)

# The get_option() method accepts the option name as its one argument
pd.get_option("max_rows")

# Regular expressions are used but play it safe and enter the option name exactly
pd.get_option("mAX_row")
pd.get_option("max_columns")

# The set_option() method takes two arguments -- the option and the NEW option value to set.
pd.set_option("max_columns", 9)
pd.get_option("max_columns")
pd.options.display.max_columns

# The `reset_option()` method takes the option as the single argument
pd.get_option("max_columns")
pd.reset_option("max_columns")
pd.get_option("max_columns")

# The `describe_option()` method takes the option as the single argument
pd.describe_option("max_columns")

OptionError: 'Pattern matched multiple keys'

# The `precision` Option
- Alters the number of digits that appear after the decimal point in a floating-point number
- Default is 6, example changes to 6
- The `randn` method generates floating point numbers from standard distribution -- basically beween -3 and 3, mostly -2 and 2

In [12]:
df = pd.DataFrame(np.random.randn(5, 5))
df

# Get the default number of decimal places in a floating point cell value
pd.get_option("precision")

# Set the new number of decimal places in a floating point cell value
pd.set_option("precision", 2)
df

pd.reset_option("precision")