In [ ]:
import pandas as pd

In [ ]:
nba = pd.read_csv("nba.csv")

In [ ]:
nba.head(10)

In [ ]:
nba.tail()

In [ ]:
nba.index

In [ ]:
nba.values

In [ ]:
nba.shape

In [ ]:
nba.dtypes

In [ ]:
nba.dtypes.value_counts()  # counting the number of columns of a data type

# Dataframe exclusive attributes

In [ ]:
nba.columns

In [ ]:
nba.axes

In [ ]:
nba.info()

## Differences between shared methods

In [ ]:
rev = pd.read_csv("revenue.csv", index_col="Date")
rev.head(3)

In [ ]:
s = pd.Series([1, 2, 3, 4])
s

In [ ]:
s.sum()

In [ ]:
# in dataframes we can sum the values in rows or in columns
# both forms are equivalent
rev.sum(axis=1)
rev.sum(axis="columns")

In [ ]:
rev.sum(axis=0)
rev.sum(axis="index")

# Select One Column from a `DataFrame`

In [ ]:
nba.head()

## First option: `.` syntax

In [ ]:
nba.Name

When we extract a single column from a DF we get a Series

In [ ]:
type(nba.Name)

## Second option: *brackets* syntax
This method is safer.

In [ ]:
nba["Name"]

# Selecting two or more columns

In [ ]:
nba.head()

In [ ]:
nba[["Name", "Team"]]  # put to pairs of square brackets.

In [ ]:
# using variable
antropo = ["Age", "Height", "Weight"]
nba[antropo]

# Add a new column

In [ ]:
nba["Sport"] = "Basketball"
nba.head()

In [ ]:
nba["League"] = "National Basketball Association"
nba.head()

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head()

In [ ]:
nba.insert(loc=3, column="Sports", value="Basketball")
nba.head()

In [ ]:
nba.head(3)

# Broadcasting Operations

In [ ]:
nba["Age"].add(5)  # adding with function

In [ ]:
nba["Age"] + 5  # adding with `plus` operator

In [ ]:
# convert pounds to kilograms
nba["Weight in Kilograms"] = nba["Weight"] * 0.453592

In [ ]:
nba.head()

In [ ]:
# express salary in millios
nba["Salary (millions $)"] = nba["Salary"] / 1e06

In [ ]:
nba.head(3)

# Review `value_counts()`

This method only works on series.

In [ ]:
nba["Team"].value_counts()

In [ ]:
nba["Position"].value_counts(ascending=True)

# Drop cells with null values

In [ ]:
nba = pd.read_csv("nba.csv")
nba.shape

In [ ]:
nba.dropna(how="any").tail()  # this method drops a row, by default, with ANY null value

In [ ]:
nba.dropna(how="all", inplace=True)  # remove a row if all columns have null value

In [ ]:
nba.tail()

In [ ]:
nba.dropna(axis=1)  # remove columns

In [ ]:
nba.dropna(
    subset=["Salary", "College"]
)  # remove row if College or Salary column is NaN

# Fill NaN values with `fillna()` method

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head()

In [ ]:
nba.fillna(value=0)

In [ ]:
nba["Salary"].fillna(value=0, inplace=True)
nba.head()

In [ ]:
nba["College"].fillna(value="No college", inplace=True)
nba.head()

# The `astype()` method

In [ ]:
nba = pd.read_csv("nba.csv").dropna(how="all")
nba["Salary"].fillna(value=0, inplace=True)
nba["College"].fillna(value="None", inplace=True)
nba.head(6)

In [ ]:
nba.dtypes

In [ ]:
nba.info()

In [ ]:
# Convert Salary to int
nba["Salary"] = nba["Salary"].astype(dtype="int", copy=True, errors="raise")

In [ ]:
nba["Number"] = nba["Number"].astype(dtype="int", copy=True, errors="raise")

In [ ]:
nba["Age"] = nba["Age"].astype(dtype="int", copy=True, errors="raise")

In [ ]:
nba["Weight"] = nba["Weight"].astype(dtype="int", copy=True, errors="raise")

In [ ]:
# The position only have 5 possible values so it is ideal to cast to category
nba["Position"].value_counts()

In [ ]:
nba["Position"] = nba["Position"].astype(dtype="category")
nba["Team"] = nba["Team"].astype(dtype="category")

In [ ]:
nba.info()

# Sort a Dataframe with the `sort_values()` method - Part 1

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head()

In [ ]:
nba.sort_values(by="Name")  # we have to choose the column to sort values.
nba.head()
# by default sort_values places the NaN values at the very last
# this can be changed using the first parameter.

# Sort a Dataframe with the `sort_values()` method - Part 1

In [ ]:
# sort by team (ascending order), then by player name (descending order),
nba.sort_values(by=["Team", "Name"], ascending=[True, False]).head(10)

# The `.sort_index()` method

In [ ]:
nba.sort_values(by=["Team", "Name"], ascending=[True, False], inplace=True)

In [ ]:
nba.tail()  # idexes are in random order

In [ ]:
## revert the original order with sort_index()
nba.sort_index(inplace=True)
nba.head()

# Rank values with the `rank()` method

In [ ]:
nba = pd.read_csv("nba.csv").dropna(how="all")  # remove row with all NaN values
nba["Salary"] = (
    nba["Salary"].fillna(value=0).astype("int")
)  # substitute the NaN values in this column
nba.head()

In [ ]:
nba["Salary_Rank"] = nba["Salary"].rank(ascending=False).astype("int")
nba.head()

In [ ]:
nba.sort_values(by=["Salary"], ascending=False)